<div class="container text-center">
  <div class="row">
    <div
      id="dish-nav-menu"
      class="dish-types-menu col-8 d-flex justify-content-between"
    >
      <button
        id="sushi-rolls-button"
        (click)="onSushiRollsClick($event)"
        class="dish-type-button mr-4"
      >
        Sushi rolls
      </button>
      <button
        id="vegan-sushi-rolls-button"
        (click)="onVeganSushiRollsClick($event)"
        class="dish-type-button ml-4 mr-4"
      >
        Vegan rolls
      </button>
      <button
        id="from-the-wok-button"
        (click)="onFromTheWokClick($event)"
        class="dish-type-button ml-4"
      >
        From the wok
      </button>
    </div>
  </div>

  <app-dish-list></app-dish-list>
  <app-dish-ingredients [ingredients]="ingredients"></app-dish-ingredients>
  <app-shopping-list></app-shopping-list>
</div>
