<div class="container mt-4 text-center">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img
        class="w-200px"
        src="../../../../assets/images/404 page/sushi-1.png"
        alt="sushi 1"
      />
      <h1 class="text-white fs-3rem ff-nn">
        Not the sushi you were looking for...
      </h1>
      <img
        class="w-200px"
        src="../../../../assets/images/404 page/sushi-2.png"
        alt="sushi 2"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="onGoBackClick()" class="go-back-btn btn ff-custom">
        Go back
      </button>
    </div>
  </div>
</div>
