<div class="container text-center p-3 mt-4">
  <div class="row">
    <div class="col">
      <a class="footer-anchor">
        <img
          class="footer-logo cursor-pointer rounded w-150px"
          (click)="onFooterLogoClick()"
          src="../../../assets/images/logos/logo8.png"
          alt="footer-logo"
        />
        <span class="jp-font &span"> &copy; {{ year }}</span>
      </a>
      <br />
      <a class="text-dark mt-4" href="http://www.onlinewebfonts.com"
        >oNline Web Fonts</a
      >
    </div>
  </div>
</div>
