<div
  (click)="onDarkBoxClick($event)"
  class="d-none"
  [id]="dish.dish_details.dish_name + '-' + dish_index"
></div>
<div
  [id]="'innie_dark_box' + dish.dish_details.dish_name + '-' + dish_index"
  class="d-none"
>
  <img
    class="mt-3 border-black"
    [src]="
      '../../../../../../assets/images/dish-types/' +
      dish.dish_details.dish_image
    "
    [alt]="dish.dish_details.dish_name"
  />
</div>
<div class="ticket-price float-left">
  <p class="price ff-cy mt-4 rotate-20deg fs-1.2rem">
    {{ dish.dish_details.dish_price }}
  </p>
  <p class="dollar-icon ff-cy rotate-20deg fs-1.2rem">$</p>
</div>
<div class="border-black w-900px m-auto">
  <div dish-basic-directive class="rounded border-gold p-1 bg-image">
    <div class="d-flex justify-content-between bg-image-2">
      <button
        [id]="'order_btn' + dish.dish_id"
        (click)="onOrderBtnClick(dish, $event)"
        class="order-btn btn ff-nuku fs-2rem h-55px w-150px bg-whitish remove-box-shaodw-on-focus"
      >
        Order
      </button>
      <button
        [id]="'check_btn' + dish.dish_id"
        disabled
        class="d-none"
      ></button>
      <div class="w-50 bg-image-1">
        <h2 class="ff-nitb fs-4rem text-decoration-underline">
          {{ dish.dish_details.dish_name }}
        </h2>
      </div>
      <button
        (click)="onDishIngredientsClicked(dish.dish_details.dish_ingredients)"
        class="ingredients-btn text-white rounded btn-#bf0000 ff-nuku fs-1.5rem w-150px h-50px remove-box-shaodw-on-focus"
      >
        Ingredients
      </button>
    </div>
    <div class="d-flex">
      <img
        (click)="
          onDishImageClick(dish.dish_details.dish_name + '-' + dish_index)
        "
        class="dish-image w-200px h-151px border-black rounded cursor-pointer"
        [src]="
          '../../../../../../assets/images/dish-types/' +
          dish.dish_details.dish_image
        "
        [alt]="dish.dish_details.dish_name"
      />
      <div
        class="rec-des-div border-bamboo h-151px p-4 ml-4 bg-blackish w-100 text-left"
      >
        <p class="fs-1.5rem ff-cc text-white">
          {{ dish.dish_details.dish_description }}
        </p>
      </div>
    </div>
  </div>
</div>
